<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Insira a Senha da Sala</label>
        <input type="password" name="password" id="room-pass" placeholder="Insira a Senha da Sala">
        <button>
            <img src="images/users-white.svg" alt="Criar Sala">
            Criar Sala
        </button>
    </form>
</section>